<!DOCTYPE html>
<html>
<head lang="en">
{% load staticfiles %}


    <meta charset="UTF-8">

    <title>{% block header_title %} {% endblock %}</title>

    <meta name="'viewport" content="width=device.width, initial-scale=1.0">
    <link href='static/bootstrap/css/bootstrap.min.css' rel="stylesheet" media = "screen">
    <link href='static/bootstrap/css/bootstrap-theme.min.css' rel="stylesheet" media = "screen">

    <link href='http://fonts.googleapis.com/css?family=Handlee' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>

    <link href='static/css/style.css' rel="stylesheet" media = "screen">



    <script src="static/js/jquery-1.11.3.min.js"></script>
    <script src = "static/bootstrap/js/bootstrap.min.js"></script>

    <script src="static/amcharts/amcharts.js" type="text/javascript"></script>
    <script src="static/amcharts/serial.js" type="text/javascript"></script>
    <script src="static/amcharts/pie.js" type="text/javascript"></script>
    <script src="static/amcharts/plugins/dataloader/dataloader.min.js" type="text/javascript"></script>
    <script src="static/js/js.js" type="text/javascript"></script>

</head>


<body>
{% block body %}






{% endblock %}

 <footer class="footer">
      <div class="container-fluid">
        <p class="text-muted text-centered">Powered by Django - Realisation: Sylvestre Gug - With the great help of Code for JC "Jersey City's Code for America Brigade"</p>
      </div>
 </footer>

</body>


</html>