{%  extends 'base.html' %}

    {% block header_title %} New Jersey Voters Metrics {%  endblock %}



{%  block body %}


<h1>A collection of New Jersey voters metrics</h1>
<div class="container" id="metrics_1">
    <div class="row">

        <div class="col-xs-12 col-md-12 col-lg-12">
            <h2>Which New Jersey County has the most of Voters ?</h2>

            <!--First AmChart -->
            <script type="text/javascript">
                        AmCharts.makeChart("chartdiv",
                        {
                                "type": "serial",
                                "dataLoader": {
                                    "url": "http://127.0.0.1:8000/CSV/Counties/",
                                    "format": "csv",
                                    "delimiter": ",",       // column separator
                                    "useColumnNames": true, // use first row for column names
                                    "skip": 1               // skip header row
                                },
                                "categoryField": "category",
                                "angle": 17,
                                "marginBottom": 18,
                                "plotAreaBorderColor": "#FFFFFF",
                                "plotAreaFillColors": "#0000FF",
                                "startDuration": 0.5,
                                "startEffect": "easeOutSine",
                                "color": "#FFFFFF",
                                "fontFamily": "Abel",
                                "fontSize": 12,
                                "handDrawn": true,
                                "categoryAxis": {
                                    "autoRotateAngle": 45,
                                    "autoRotateCount": 0,
                                    "gridPosition": "start",
                                    "axisColor": "#FFFFFF",
                                    "fontSize": 16,
                                    "gridColor": "#FFFFFF",
                                    "labelOffset": 5,
                                    "tickLength": 7,
                                    "handDrawn": true,
                                },
                            "trendLines": [],
                            "graphs": [
                                {
                                    "balloonText": "[[category]] : [[value]]",
                                    "columnWidth": 0.13,
                                    "fillAlphas": 1,
                                    "fillColors": "#FFFFFF",
                                    "fontSize": 0,
                                    "gapPeriod": null,
                                    "id": "AmGraph-1",
                                    "lineColor": "#FFFFFF",
                                    "lineThickness": 0,
                                    "negativeFillAlphas": 0,
                                    "showAllValueLabels": true,
                                    "title": "graph 1",
                                    "topRadius": 0,
                                    "type": "column",
                                    "valueAxis": "ValueAxis-1",
                                    "valueField": "column-1"
                                }
                            ],
                            "guides": [],
                            "valueAxes": [
                                {
                                    "id": "ValueAxis-1",
                                    "autoGridCount": false,
                                    "axisColor": "#FFFFFF",
                                    "title": ""
                                }
                            ],
                            "allLabels": [],
                            "balloon": {},
                            "titles": [],
                            "dataProvider": []
                        }
            );
            </script>

            <div class="v_p_c center-block g-wraper" id = "chartdiv"></div>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rutrum tortor enim, in
                tristique quam volutpat id. Suspendisse vitae neque sit amet enim interdum placerat ac at nisl.
                Vivamus at semper nisi. Cras volutpat, felis quis tristique varius, metus turpis dignissim velit, tristique porta magna odio id neque.
                Phasellus vel nisi quis augue semper tincidunt eu id nisl. Quisque pulvinar arcu sed est hendrerit sagittis. Duis fringilla lectus nec urna consequat semper.
                Phasellus ac volutpat nisi. Aenean ornare viverra viverra. Proin non tortor tempus, auctor nunc a,
                rhoncus urna. Aliquam turpis sapien, tincidunt et aliquam et, placerat eu nibh. Sed sit amet nulla tincidunt, vestibulum arcu nec, egestas nisl.
                Integer convallis in leo nec pretium.</p>

        </div>

    </div>
</div>


<div class="container" id="metrics_2">
    <div class="row">

        <div class="col-xs-12 col-md-12 col-lg-12">
            <h2>NJ Votes in Years</h2>
            <!--Second AmChart-->

            <div class="d-down">

                 <select id="vys">
                     <option value="">New Jersey</option>
                     {%  for c in counties %}
                        <option value="{{ c.id }}">{{ c.name|capfirst }}</option>
                      {%  endfor %}
                 </select>

            </div>

            <div class="v_p_y center-block g-wraper" id = "chartdiv2">

            </div>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rutrum tortor enim, in
                tristique quam volutpat id. Suspendisse vitae neque sit amet enim interdum placerat ac at nisl.
                Vivamus at semper nisi. Cras volutpat, felis quis tristique varius, metus turpis dignissim velit, tristique porta magna odio id neque.
                Phasellus vel nisi quis augue semper tincidunt eu id nisl. Quisque pulvinar arcu sed est hendrerit sagittis. Duis fringilla lectus nec urna consequat semper.
                Phasellus ac volutpat nisi. Aenean ornare viverra viverra. Proin non tortor tempus, auctor nunc a,
                rhoncus urna. Aliquam turpis sapien, tincidunt et aliquam et, placerat eu nibh. Sed sit amet nulla tincidunt, vestibulum arcu nec, egestas nisl.
                Integer convallis in leo nec pretium.</p>
        </div>

    </div>
</div>

<div class="container" id="metrics_3">
    <div class="row">

        <div class="col-xs-12 col-md-12 col-lg-12">
            <h2>What about the party ?</h2>

            <div class="row">

                <div class="col-xs-6 col-md-6 col-lg-6">
                    <select class = 'vyp'>

                          <option value="">New Jersey</option>

                          {%  for c in counties %}
                                <option value="{{ c.name }}">{{ c.name|capfirst }}</option>
                          {%  endfor %}

                    </select>
                </div>

                <div class="col-xs-6 col-md-6 col-lg-6">
                    <select class = 'vyp'>
                      <option value="">All</option>
                      <option value="Presidential_2012">Presidential 2012</option>
                      <option value="Senatorial_2009">Senatorial 2009</option>
                      <option value="Referendum_2008">Referendum 2008</option>
                    </select>
                </div>

            </div>

            <div class="v_p_p center-block g-wraper" id = "chartdiv3">

            </div>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rutrum tortor enim, in
                tristique quam volutpat id. Suspendisse vitae neque sit amet enim interdum placerat ac at nisl.
                Vivamus at semper nisi. Cras volutpat, felis quis tristique varius, metus turpis dignissim velit, tristique porta magna odio id neque.
                Phasellus vel nisi quis augue semper tincidunt eu id nisl. Quisque pulvinar arcu sed est hendrerit sagittis. Duis fringilla lectus nec urna consequat semper.
                Phasellus ac volutpat nisi. Aenean ornare viverra viverra. Proin non tortor tempus, auctor nunc a,
                rhoncus urna. Aliquam turpis sapien, tincidunt et aliquam et, placerat eu nibh. Sed sit amet nulla tincidunt, vestibulum arcu nec, egestas nisl.
                Integer convallis in leo nec pretium.</p>

        </div>

    </div>
</div>


 {% endblock %}

